html
	head
		title=htmlWebpackPlugin.options.title
		each cssfile in htmlWebpackPlugin.files.css
			link(href=cssfile)
		each jsfile in htmlWebpackPlugin.files.js
			script(src=jsfile, async)

	body
		#app
